/***** WORLD DESKTOP *****/
:root {
    --yellow: rgb(214, 234, 94);
    --yellow-10a: rgb(214, 234, 94, 0.1);
    --yellow-40a: rgb(214, 234, 94, 0.4);
    --navy: rgb(63, 93, 186);
    --navy-40a: rgb(63, 93, 186, 0.4);
    --navybold: rgb(53, 81, 171);
    --navy300: rgb(27, 40, 81);
    --green: rgb(156, 232, 96);
    --blue: rgb(110, 131, 255);
    --light: rgb(255, 252, 240);
    --titles: "Unbounded", sans-serif;
    --content: "Space Mono", monospace;
}
*{
    transition: all 0.2s;
    margin: 0;
    padding: 0;
}
html, body{
    background-color: var(--light);
    scroll-padding-top: 77px;
}
a{
    text-decoration: none;
}
h1{
    font-family: var(--titles);
    color: var(--navy);
    font-size: 4rem;
}
h2{
    font-family: var(--titles);
    color: var(--navy);
    font-size: 3rem;
    text-align: center;
}
h3{
    font-family: var(--content);
    font-weight: 700;
    font-size: 1.5rem;
}
h4{
    font-family: var(--content);
    font-weight: 700;
    font-size: 2rem;
}
h5{
    font-family: var(--content);
    font-size: 1.2rem;
}
h6{
    font-family: var(--titles);
    font-size: 2rem;
}
p{
    font-family: var(--content);
}
ol{
    font-family: var(--content);
    list-style: none outside;
    font-size: 1rem;
    text-align: left;
}
main{
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 0;
}
.check::before{
    content: url(assets/check-green.svg);
    display: inline-block;
    height: 24px;
    width: 24px;
    vertical-align: middle;
    margin-right: 4px;
}
.wait::before{
    content: url(assets/wait.svg);
    display: inline-block;
    height: 24px;
    width: 24px;
    vertical-align: middle;
    margin-right: 4px;
}
/***** NAVBAR DESKTOP *****/
nav{
    z-index: 4;
    position: fixed;
    display: inline-flex;
    background-color: var(--yellow-10a);
    align-items: center;
    justify-content: space-between;
    backdrop-filter: blur(120px);
    -webkit-backdrop-filter: blur(120px);
    font-family: var(--content);
    font-weight: 700;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 77px;
}
.menu{
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    margin-right: 2%;
}
.logotype{
    height: 45px;
    margin-left: 2%;
}
.txt-btn{
    font-size: 1rem;
    width: 100px;
    color: var(--navy);
    text-align: center;
}
.txt-btn:hover{
    border-style: solid;
    border-color: var(--yellow);
    border-width: 0px 0px 16px 0px;
}
.btn-blue{
    font-size: 1.2rem;
    height: 50px;
    width: 160px;
    background-color: var(--navy);
    color: var(--yellow);
    text-align: center;
    font-family: var(--content);
    font-weight: 700;
    border-style: none;
    
}
.btn-blue:hover{
    background-color: var(--blue);
    border: 4px solid var(--navy);  
    cursor: pointer;
}
.nav-spacer{
    width: 100%;
    height: 77px;
}
/***** HERO DESKTOP *****/
header{
    margin: 24px 5%;
    background-color: var(--yellow-10a);
    padding: 40px;
    display: flex;
    flex-direction: row;
    gap: 64px;
    justify-content: space-between;
}
#titles{
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.subtitles{
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
}
.subtitles h3{
    color: var(--blue);
}
.live{
    background-color: var(--blue);
    padding: 4px 12px;
    display: inline-flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
    color: var(--green);
    width: fit-content;
}
.circle{
    border-radius: 50%;
    background-color: var(--green);
    width: 12px;
    height: 12px;
    -webkit-animation: blink 1s infinite;
    -moz-animation: blink 1s infinite;
    -o-animation: blink 1s infinite;
    -ms-animation: blink 1s infinite;
    animation: blink 1s infinite;
}
@keyframes blink {
    0% {
        background-color: var(--green);
        }
    50% {
        background-color: var(--yellow);
        box-shadow: 0px 0px 10px var(--green);
    }
    0% {
        background-color: var(--green);
    }
}
@-webkit-keyframes blink {
    0% {
        background-color: var(--green);
    }
    50% {
        background-color: var(--yellow);
        box-shadow: 0px 0px 10px var(--green);
    }
    0% {
        background-color: var(--green);
    }
}
@-moz-keyframes blink {
    0% {
        background-color: var(--green);
        }
    50% {
        background-color: var(--yellow);
        box-shadow: 0px 0px 10px var(--green);
    }
    0% {
        background-color: var(--green);
    }
}
@-o-keyframes blink {
    0% {
        background-color: var(--green);
    }
    50% {
        background-color: var(--yellow);
        box-shadow: 0px 0px 10px var(--green);
    }
        0% {
        background-color: var(--green);
    }
}
@-ms-keyframes blink {
    0% {
        background-color: var(--green);
    }
    50% {
        background-color: var(--yellow);
        box-shadow: 0px 0px 10px var(--green);
    }
    0% {
        background-color: var(--green);
    }
}
.join{
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}
.join h3{
    color: var(--navybold);
    animation: 2s lineup ease-out 5;
    -webkit-animation: 2s lineup ease-out 5;
    -moz-animation: 2s lineup ease-out 5;
    -o-animation: 2s lineup ease-out 5;
    -ms-animation: 2s lineup ease-out 5;
}
@keyframes lineup {
    0% {
      opacity: 0;
      transform: translateY(80%);
    }
    25% {
      opacity: 0;
    }
    50% {
      opacity: 1;
      transform: translateY(0%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
}
@-webkit-keyframes lineup {
    0% {
      opacity: 0;
      transform: translateY(80%);
    }
    25% {
      opacity: 0;
    }
    50% {
      opacity: 1;
      transform: translateY(0%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
}
@-moz-keyframes lineup {
    0% {
      opacity: 0;
      transform: translateY(80%);
    }
    25% {
      opacity: 0;
    }
    50% {
      opacity: 1;
      transform: translateY(0%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
}
@-o-keyframes lineup {
    0% {
      opacity: 0;
      transform: translateY(80%);
    }
    25% {
      opacity: 0;
    }
    50% {
      opacity: 1;
      transform: translateY(0%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
}
@-ms-keyframes lineup {
    0% {
      opacity: 0;
      transform: translateY(80%);
    }
    25% {
      opacity: 0;
    }
    50% {
      opacity: 1;
      transform: translateY(0%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
}
.join-btns{
    display: inline-flex;
    flex-direction: row;
    gap: 16px;
}
.btn-green{
    font-size: 1.2rem;
    height: 50px;
    width: 160px;
    background-color: var(--yellow);
    color: var(--navy);
    text-align: center;
    font-family: var(--content);
    font-weight: 700;
    border-style: none;
}
.btn-green:hover{
    background-color: var(--green);
    border: 4px solid var(--yellow);
    cursor: pointer;
}
.chat{
    display: flex;
    flex-direction: column;
}
.male{
    z-index: 2;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.male img{
    height: 300px;
}
.chatbox-green{
    background-color: var(--yellow-40a);
    padding: 6px;
    font-family: var(--content);
    font-size: 0.8rem;
    width: 200px;
    height: fit-content;
    margin-left: -50px;
    margin-top: 16px;
    display: inline-flex;
    flex-direction: column;
    gap: 8px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}
.msg-green{
    background-color: var(--yellow);
    align-items: center;
    display: inline-flex;
    text-wrap: nowrap;
    padding: 4px 8px;
    gap: 4px;
    flex-wrap: wrap;
    color: var(--navy);
    justify-content: flex-start;
}
.msg-navy{
    background-color: var(--navy);
    align-items: center;
    display: inline-flex;
    text-wrap: nowrap;
    padding: 4px 8px;
    gap: 4px;
    flex-wrap: wrap;
    color: var(--yellow);
    justify-content: flex-end;
}
.msgstroke-navy{
    border-style: solid;
    border-width: 2px;
    border-color: var(--navy);
    align-items: center;
    display: inline-flex;
    text-wrap: nowrap;
    padding: 4px 8px;
    gap: 4px;
    flex-wrap: wrap;
    color: var(--navy);
    justify-content: flex-start;
}
.msgstroke-green{
    border-style: solid;
    border-width: 2px;
    border-color: var(--yellow);
    align-items: center;
    display: inline-flex;
    text-wrap: nowrap;
    padding: 4px 8px;
    gap: 4px;
    flex-wrap: wrap;
    color: var(--yellow);
    justify-content: flex-end;
}
.female{
    z-index: 3;
    display: flex;
    flex-direction: row;
    margin-top: -100px;
}
.female img{
    height: 300px;
}
.chatbox-navy{
    background-color: var(--navy-40a);
    padding: 6px;
    font-family: var(--content);
    font-size: 0.8rem;
    width: 200px;
    margin-right: -50px;
    margin-top: 64px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    height: fit-content;
    justify-content: end;
}
/***** ABOUT DESKTOP *****/
#about{
    display: flex;
    flex-direction: row;
    gap: 24px;
    margin: 24px 10%;
    align-items: center;
}
.ab-titles{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 2;
    text-align: left;
    width: 100%;
    gap: 16px;
}
.ab-titles h4{
    color: var(--blue);
    width: fit-content;
}
.ab-titles h2{
    text-align: left;
}
.details{
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 24px;
}
.detailbox{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.icon-box{
    z-index: 3;
    width: 100px;
    height: 100px;
    background-color: var(--navy-40a);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0px 4px 10px rgb(0, 0, 0, 0.1);
    margin-left: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon{
    height: 80px;
}
.det-content{
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: -50px;
    font-family: var(--content);
    background-color: var(--yellow-40a);
    border-style: solid;
    border-color: var(--yellow);
    border-width: 4px;
    padding: 52px 12px 12px;
    color: var(--navy300);
    height: 160px;
}
/***** HOW TO *****/
#how{
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin: 24px 10%;
}
.how-to{
    display: flex;
    flex-direction: row;
    gap: 24px;
    color: var(--navy300);
    flex-grow: 1;
}
.how-user{
    background-color: var(--yellow-10a);
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 32px;
    text-align: center;
    justify-content: flex-start;
    flex: 1;
}
.how-user li{
    margin-bottom: 16px;
}
.how-to h4,h5{
    color: var(--navy);
}
.how-to h5 {
    justify-content: flex-start;
    width: max-content;
    margin-bottom: 24px;
}
/***** NO FEES *****/
#nofees{
    background-color: var(--navy);
    display: flex;
    flex-direction: row;
    gap: 24px;
    padding: 32px 10%;
    align-items: center;
}
.fees-titles{
    display: flex;
    flex-direction: column;
    gap: 16px;
    flex: 1;
}
.fees-titles h2,h4{ 
    color: var(--yellow);
    text-align: left;
}
.fees-titles h4{
    font-weight: 400;
}
.table{
    display: flex;
    justify-content: flex-end;
    overflow-x: auto;
    flex: 2;
}
table{
    border-collapse: collapse;
    font-family: var(--content);
    font-size: 1.2rem;
    font-weight: 400;
}
th{
    padding: 16px;
}
.xs{
    font-size: 0.8rem;
    font-weight: 400;
    margin-top: -8px;
}
th img{
    display: flex;
    box-sizing: border-box;
    margin-right: auto;
    margin-left: auto;
    height: 32px;
}
.gig{
    background-color: var(--yellow-10a);
    color: var(--yellow);
    font-weight: bold;
}
.gig img{
    height: 42px;
}
td {
    text-align: center;
    color: var(--light);
    height: 80px;
    padding: 0px 24px;
}
.row-title{
    text-align: left;
    padding: 0px 24px 0px 0px;
}
/***** ROADMAP DESKTOP *****/
#roadmap{
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin: 24px 10%;
}
.twentyfour{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.twentyfive{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.year{
    margin-bottom: 24px;
}
.q-container{
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
}
.timeline{
    width: 100%;
    height: 10px;
    background-color: var(--navy);
}
.progress{
    width: 33%;
    height: 100%;
    background-color: var(--yellow);
}
.quarters{
    display: flex;
    flex-direction: row;
    gap: 24px;
    justify-content: space-between;
}
.q-content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 16px;
    width: 100%;
    color: var(--navy300);
}
.q-content li{
    margin-bottom: 16px;
}
.q-check{
    display: flex;
    height: 70px;
    width: 70px;
    background-color: var(--yellow);
    color: var(--navy);
    justify-content: center;
    align-items: center;
}
.q-pending{
    display: flex;
    height: 70px;
    width: 70px;
    text-align: center;
    background-color: var(--navy);
    color: var(--yellow);
    justify-content: center;
    align-items: center;
}

/***** TEAM DESKTOP *****/
#team{
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin: 24px 10%;
    color: var(--navy);
}
#team h6{
    font-size: 1.2rem;
}
.team-desc{
    text-align: center;
}
.teammembers{
    display: flex;
    flex-direction: row;
    gap: 24px;
    width: 100%;
}
.member{
    display: flex;
    flex-direction: column;
    width: 100%;
    border-style: solid;
    border-width: 4px;
    border-color: var(--yellow);
}
.photo{
    position: relative;
    height: 250px;
    padding: 16px;
}
.david{
    background-image: url(assets/david-final.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.chandra{
    background-image: url(assets/chandra-final.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.camilo{
    background-image: url(assets/camilo-final.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.pratham{
    background-image: url(assets/guy-final.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.linkedin{
    position: absolute;
    top: 8px;
    right: 8px;
}
.linkedin button{
    height: 50px;
    width: 50px;
    background-color: var(--yellow);
    border-style: none;
}
.linkedin button:hover{
    border-style: solid;
    border-width: 4px;
    border-color: var(--navy);
    cursor: pointer;
}
.name{
    display: flex;
    flex-direction: column;
    background-color: var(--yellow);
    padding: 8px;
    text-align: center;
}
/***** CONTACT DESKTOP *****/
#contact{
    display: flex;
    flex-direction: row;
    background-color: var(--yellow-10a);
    border-style: solid;
    border-color: var(--yellow);
    border-width: 4px;
    color: var(--navy);
    margin: 24px 10%;
    align-items: center;
}
.contact-info{
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px;
    flex: 2;
}
.contact-info h2{
    text-align: left;
}
.mail{
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
}
.mail img{
    height: 32px;
}
.mail h4{
    color: var(--navy);
}
.chatbubble{
    display: flex;
    flex-direction: column;
    background-color: var(--yellow);
    padding: 24px;
    margin: 0;
    height: 100%;
    flex: 1;
    gap: 40px;
}
.gig-icon{
    display: flex;
    justify-content: left;
}
.chat-icon{
    display: flex;
    justify-content: right;
}
/***** FOOTER DESKTOP *****/
footer {
    background-color: var(--blue);
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--content);
    color: var(--yellow);
    margin: 0;
    width: 100%;
}
.logofooter{
    display: inline-flex;
    align-items: center;
    gap: 8px;
    margin: 16px 2%;
}
.socials{
    display: flex;
    flex-direction: row;
    gap: 8px;
    margin: 0px 2%;
}
.social-btn{
    display: flex;
    height: 40px;
    width: 40px;
    justify-content: center;
    align-items: center;
    background-color: var(--blue);
    border-style: solid;
    border-color: var(--yellow);
    border-width: 2px;
}
.social-btn:hover{
    cursor: pointer;
    background-color: var(--yellow);
}
.social-btn:hover svg{
    fill: var(--navy);
}

/***** MEDIUM *****/
@media only screen and (max-width: 1024px){
    /***** GLOBAL MEDIUM *****/
    h1{
        font-size: 3rem;
    }
    h2{
        font-size: 2rem;
    }
    /***** NAVBAR MEDIUM *****/
    .about {
        display: none;
    }
    /***** HERO MEDIUM *****/
    header{
        margin: 0px 2%;
        gap: 32px;
        padding: 16px;
    }
    .subtitles{
        gap: 8px;
    }
    .subtitles h3{
        font-size: 1.2rem;
    }
    .male img{
        height: 250px;
    }
    .female img{
        height: 250px;
    }
    .female{
        margin-top: -80px;
    }
    .chatbox-green{
        margin-left: -100px;
    }
    .chatbox-navy{
        margin-right: -100px;
    }
    /***** ABOUT MEDIUM *****/
    #about{
        flex-direction: column;
        margin: 24px 5%;
    }
    .ab-titles{
        gap: 8px;
    }
    .ab-titles h4{
        font-size: 1.5rem;
    }
    .details{
        flex-direction: row;
    }
    .det-content{
        height: 100px;
    }
    /***** HOW TO MEDIUM ****/
    #how{
        margin: 24px 5%;
    }
    /***** NO FEES *****/
    #nofees{
        flex-direction: column;
    }
    .fees-titles h4{
        font-size: 1.5rem;
    }
    /***** ROADMAP MEDIUM *****/
    #roadmap{
        margin: 24px 5%;
    }
    /***** TEAM MEDIUM *****/
    #team{
        margin: 24px 5%;
    }
    /***** CONTACT MEDIUM *****/
    #contact{
        margin: 24px 5%;
    }
    .chatbubble{
        display: none;
    }
}
/***** SMALL *****/
@media only screen and (max-width: 600px){
    /***** GLOBAL SMALL *****/
    h1{
        font-size: 2.5rem;
    }
    h2{
        font-size: 2rem;
    }
    h3{
        font-family: var(--content);
        font-weight: 700;
        font-size: 1.2rem;
    }
    h6{
        font-size: 1.2rem;
    }
    /***** NAVBAR SMALL *****/
    .txt-btn {
        display: none;
    }
    /***** HERO SMALL *****/
    header{
        margin: 0px 2%;
        gap: 32px;
        padding: 16px;
        flex-direction: column;
        align-items: center;
    }
    #titles{
        gap: 32px;
        align-items: center;
    }
    .subtitles{
        gap: 8px;
    }
    .subtitles h3{
        font-size: 1.2rem;
    }
    .join{
        width: 100%;
    }
    .male img{
        height: 250px;
    }
    .female img{
        height: 250px;
    }
    .female{
        margin-top: -80px;
    }
    .chatbox-green{
        margin-left: -100px;
    }
    .chatbox-navy{
        margin-right: -100px;
    }
    /***** ABOUT SMALL *****/
    #about{
        margin: 12px 5%;
        justify-content: flex-start;
        text-align: left;
    }
    .ab-titles h4{
        font-size: 1.2rem;
    }
    .icon-box{
        margin-left: 16px;
        height: 80px;
        width: 80px;
    }
    .icon{
        height: 60px;
    }
    .details{
        flex-direction: column;
    }
    .how-to{
        flex-direction: column;
    }
    .how-user{
        padding: 16px;
        gap: 20px;
    }
    /***** NOFEES SMALL ****/
    #nofees{
        padding: 24px 5%;
        justify-content: flex-start;
    }
    .fees-titles{
        font-size: 1.2rem;
    }
    .table{
        justify-content: left;
    }
    .row-title{
        padding: 0px 8px 0px 0px;
    }
    th img{
        height: 16px;
    }
    .gig img{
        height: 30px;
    }
    .row {
        width: 100%;
    }
    th{
        padding: 8px 4px;
    }
    td{
        padding: 0px 8px;
        height: 48px;
    }
    table{
        font-size: 0.8rem;
    }
    .xs{
        font-size: 0.4rem;
        margin-top: 0px;
    }
    /***** HOW TO SMALL*****/
    #how{
        margin: 12px 5%;
    }
    /***** ROADMAP SMALL *****/
    #roadmap{
        margin: 12px 5%;
    }
    .q-container{
        flex-direction: row;
    }
    .year{
        margin-bottom: 0px;
    }
    .timeline{
        width: 10px;
        height: 950px;
    }
    .progress{
        width: 100%;
        height: 40%;
    }
    .quarters{
        flex-direction: column;
    }
    .q-check{
        height: 60px;
        width: 60px;
    }
    .q-pending{
        height: 60px;
        width: 60px;
    }
    /***** TEAM SMALL *****/
    #team{
        margin: 12px 5%;
    }
    .teammembers{
        flex-direction: column;
        align-items: center;
    }
    .member{
        width: 80%;
    }
    /***** CONTACT SMALL *****/
    #contact{
        flex-direction: column;
        align-items: flex-start;
        margin: 12px 5%;
    }
    .contact-info{
        padding: 12px;
    }
    .chatbubble{
        display: none;
    }
    .mail img{
        height: 20px;
    }
    .mail h4{
        font-size: 1.5rem;
    }
}
